@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --nav-height: 111px;
    --theme-primary: #aa8848;
    --theme-primary-dark: #715a30;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Bodoni Moda', serif;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

@media (max-width: 991px) {
    .header-nav {
        margin: 0 0 0px 0 !important;
    }
}

.card {
    border-radius: 0px;
}

.card-body .card-body-content-bottom {
    margin-top: auto;
}

@media (max-width: 991px) {
    .card-body .card-body-content-bottom {
        margin-bottom: 70px;
    }
}

.btn.btn-theme {
    border: 1px solid white;
    border-radius: 0px;
    color: white;
}

    .btn.btn-theme:hover {
        border: 1px solid var(--theme-primary-dark);
        background-color: var(--theme-primary-dark);
    }

.btn.btn-theme-primary {
    border: 1px solid var(--theme-primary);
    background-color: var(--theme-primary);
    border-radius: 0px;
    color: white;
}

    .btn.btn-theme-primary:hover {
        border: 1px solid var(--theme-primary-dark);
        background-color: var(--theme-primary-dark);
        color: white;
    }

.btn.btn-outline-theme-primary {
    border: 1px solid var(--theme-primary);
    border-radius: 0px;
    color: var(--theme-primary);
}

    .btn.btn-outline-theme-primary:hover {
        border: 1px solid var(--theme-primary-dark);
        background-color: var(--theme-primary-dark);
        color: white;
    }

.btn.btn-theme-secondary {
    border: 1px solid white;
    background-color: white;
    border-radius: 0px;
    color: #2c2c2c;
}

    .btn.btn-theme-secondary:hover {
        border: 1px solid #2c2c2c;
        background-color: #2c2c2c;
        color: white;
    }

    .btn.btn-theme:not(.no-resize),
    .btn.btn-theme-primary:not(.no-resize),
    .btn.btn-outline-theme-primary:not(.no-resize),
    .btn.btn-theme-secondary:not(.no-resize) {
        padding: 10px 30px;
    }

@media (min-width: 992px) {
    .navbar-brand.store-logo img {
        margin-top: -15px;
        margin-bottom: -15px;
        max-height: 83px;
    }
}

.bg-theme-primary {
    background-color: var(--theme-primary);
}

.bg-theme-primary-dark {
    background-color: var(--theme-primary-dark);
}

.btn-theme-size {
    padding: 10px 30px;
}

.text-theme-primary {
    color: var(--theme-primary);
}