@media (min-width: 992px) {
    .home-page .product-grid {
        padding-right: 50px;
        padding-left: 50px;
    }
}

.home-page-categories-row {
    margin-left: -11px;
    margin-right: -11px;
    min-height: calc(100vh - var(--nav-height));
}

    .home-page-categories-row .col,
    .home-page-categories-row [class*=col-] {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .home-page-categories-row .card {
        border: 0px;
        border-radius: 0px;
        height: calc(100vh - var(--nav-height));
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        transition: all .6s ease;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }

        .home-page-categories-row .card:hover {
            filter: grayscale(0);
            background-size: auto 120%;
        }

        .home-page-categories-row .card .card-title {
            font-family: 'Bodoni Moda', serif;
            font-size: 35pt;
        }

        .home-page-categories-row .card .card-text {
            font-family: 'Bodoni Moda', serif;
            font-size: 15pt;
        }

    .home-page-categories-row .card-img,
    .home-page-categories-row .card-img-top {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

.countdown .col {
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

    .countdown .col .counter {
        font-size: xx-large;
    }

.news-list-homepage .card {
    padding: 30px 20px;
}

    .news-list-homepage .card h1,
    .news-list-homepage .card .h1,
    .news-list-homepage .card h2,
    .news-list-homepage .card .h2,
    .news-list-homepage .card h3,
    .news-list-homepage .card .h3,
    .news-list-homepage .card h4,
    .news-list-homepage .card .h4,
    .news-list-homepage .card h5,
    .news-list-homepage .card .h5,
    .news-list-homepage .card h6,
    .news-list-homepage .card .h6 {
        font-weight: 300;
    }

    .news-list-homepage .card .subheading {
        margin-bottom: -10px;
        font-weight: 300;
    }

    .news-list-homepage .card:not(.card-vertical) {
        border: 0px;
        border-radius: 0px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center;
        transition: all .6s ease;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
    }

        .news-list-homepage .card:not(.card-vertical):hover {
            background-size: 120% auto;
        }

    .news-list-homepage .card.card-vertical {
        border: 0px;
        border-radius: 0px;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        transition: all .6s ease;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
    }

        .news-list-homepage .card.card-vertical:hover {
            background-size: auto 120%;
        }

@media (min-width: 992px) {
    .news-list-homepage .smaller-inner-paddings > div:not(:first-child) {
        padding-left: 5px;
    }

    .news-list-homepage .smaller-inner-paddings > div:not(:last-child) {
        padding-right: 5px;
    }
}
