.product-container .button-container {
    bottom: 55px;
    width: 100%;
}

    .product-container .button-container .button-container-inner {
        margin-right: 0px;
        margin-left: 0px;
    }

        .product-container .button-container .button-container-inner .btn-container {
            position: absolute;
            transform: translateY(200%);
            -webkit-transform: translateY(200%);
            width: 20%;
        }

            .product-container .button-container .button-container-inner .btn-container .btn {
                padding: 10px;
                width: 100%;
            }

    .product-container .button-container > .button-container-inner > .btn-container:nth-child(1) {
        transition: transform .4s ease .05s;
        -webkit-transition: -webkit-transform .4s ease .05s;
        left: 2.5%;
    }

    .product-container .button-container > .button-container-inner > .btn-container:nth-child(2) {
        transition: transform .4s ease .1s;
        -webkit-transition: -webkit-transform .4s ease .1s;
        left: 27.5%;
    }

    .product-container .button-container > .button-container-inner > .btn-container:nth-child(3) {
        transition: transform .4s ease .15s;
        -webkit-transition: -webkit-transform .4s ease .15s;
        left: 52.5%;
    }

    .product-container .button-container > .button-container-inner > .btn-container:nth-child(4) {
        transition: transform .4s ease .2s;
        -webkit-transition: -webkit-transform .4s ease .2s;
        left: 77.5%;
    }

.product-container:hover .button-container > .button-container-inner > .btn-container {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.product-box:hover::before {
    border-color: rgba(0,0,0,0) !important;
    box-shadow: 0 0 10px rgba(0,0,0,0) !important;
}

.rating-placeholder {
    margin-bottom: 10px;
}

.prices {
    font-family: 'Bodoni Moda', serif;
}

.quick-view-overview span.actual-price {
    color: var(--theme-primary-dark);
}

.qv-title a,
.qv-title a:visited,
a.product-title,
a.product-title:visited {
    color: var(--theme-primary);
}

    .qv-title a:hover,
    a.product-title:hover {
        color: var(--theme-primary-dark);
    }

/*.short-description::before {
    content: open-quote;
}

.short-description::after {
    content: close-quote;
}

.short-description {
    font-size: 150%;
    line-height: 150%;
    quotes: "„" "‟" "‚" "’";
}

.short-description::first-letter {
    font-size: 300%;
}*/

.short-description {
    font-family: 'Bodoni Moda', serif;
    background-color: rgb(250, 250, 250);
    font-weight: 100;
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.6;
    position: relative;
    margin: 0;
    padding: .8rem;
    font-style: italic;
    text-indent: 4rem;
}

    .short-description:before,
    .short-description:after {
        position: absolute;
        color: #f1efe6;
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
    }

    .short-description:before {
        content: '“';
        left: -4rem;
        top: 0.5rem;
    }

    .short-description:after {
        content: '”';
    }

.qv-description {
    font-family: 'Bodoni Moda', serif;
    background-color: rgb(250, 250, 250);
    font-weight: 100;
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.6;
    position: relative;
    margin: 0;
    padding: .8rem;
    font-style: italic;
    text-indent: 4rem;
}

    .qv-description:before,
    .qv-description:after {
        position: absolute;
        color: #f1efe6;
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
    }

    .qv-description:before {
        content: '“';
        left: -4rem;
        top: -0.5rem;
    }

    .qv-description:after {
        content: '”';
    }

/*.blockquote-md {
    font-weight: 100;
    font-size: 2rem;
    max-width: 600px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: .5rem;
}

    .blockquote-md:before,
    .blockquote-md:after {
        position: absolute;
        color: #f1efe6;
        font-size: 8rem;
        width: 4rem;
        height: 4rem;
    }

    .blockquote-md:before {
        content: '“';
        left: -5rem;
        top: -2rem;
    }

    .blockquote-md:after {
        content: '”';
        right: -5rem;
        bottom: 1rem;
    }

.blockquote-sm {
    font-weight: 100;
    font-size: 2rem;
    max-width: 600px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: .5rem;
}

    .blockquote-sm:before,
    .blockquote-sm:after {
        position: absolute;
        color: #f1efe6;
        font-size: 8rem;
        width: 4rem;
        height: 4rem;
    }

    .blockquote-sm:before {
        content: '“';
        left: -5rem;
        top: -2rem;
    }

    .blockquote-sm:after {
        content: '”';
        right: -5rem;
        bottom: 1rem;
    }*/